
} 
 body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.flex-center{
    display: flex;
    justify-content: center;
}

h1{
    font-size: 55px;
    color: rgb(87, 94, 108  );
    transition: all 300ms;
}
#Imagen{
    display: grid;
    grid-template-columns: repeat(6, 2fr);
    width: 90%;
    margin: 5%;
    grid-gap: 30px;
}

#Imagen img{
    width: 100%;
    transition: all 300ms;
    position: relative;
}

#Imagen img:hover{
    transform: scale(1.15);
}
